Source: module-ethercat
Priority: optional
Maintainer: Robert Burger <robert.burger@dlr.de>
Build-Depends: debhelper-compat (= 13), autotools-dev
Standards-Version: 4.5.1
Section: libs
Homepage: https://www.burger-system.de/robotkernel/module_ethercat
Vcs-Browser: https://github.com/robotkernel-hal/module_ethercat.git
Vcs-Git: https://github.com/robotkernel-hal/module_ethercat.git
Rules-Requires-Root: no

Package: module-ethercat-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: robotkernel-dev (= ${binary:Version}), ${misc:Depends}
Description: TODO

Package: module-ethercat
Architecture: any
Multi-Arch: same
Depends: robotkernel ${misc:Depends}
Description: TODO
